.banner{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
ul{
    margin: 0;
}
.banner-top{
    width: 100%;
    height: 380px;
    background: url("../image/艺韵GO！/top.jpg");
}
.banner-top li{
    float: left;
    background-color: #0033FF;
    text-align: center;
    margin: 270px 40px 0px 0px;
    border-radius: 5px;
}
.banner-top li:nth-child(1){
    margin-left: 330px;
}
.banner-top a{
    width: 160px;
    line-height: 50px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.banner-top a:hover{
    background-color: #E4E4E4;
    color: #0033FF;
    border-radius: 5px;
}
.p1{
    text-align: center;
    margin: 45px 0px;
    font-size: 24px;
    color: #666666;
    font-weight: 700;
    font-family: '华文楷体';
}
.koubei{
    width: 100%;
    height: 240px;
}
.koubei li{
    width: 260px;
    height: 240px;
    margin-right: 53px;
    float: left;
}
.koubei li:nth-last-child(1){
    margin-right: 0;
}
.koubei li img{
    margin-left: 59px;
}
.koubei li span{
    display: block;
    font-size: 20px;
    color: #1E1E1E;
    line-height: 28px;
    margin: 18px auto;
    text-align: center;
}
.koubei li p{
    font-size: 14px;
    color: #666666;
    text-align: center;
}
.gongjiang{
    width: 100%;
    margin-top: 50px;
    height: 860px;
    position: relative;
}
.gongjiang-top{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
}
.gongjiang-top a{
    margin-left: 10px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    width: 100px;
    line-height: 30px;
    text-align: center;
    background-color: #38f;
    color: #ffffff;
}
.gongjiang-top a:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}
/*工匠1*/
.gongjiang-msg-1{
    height: 800px;
    margin-top: 20px;
}
.gongjiang-msg-1 li{
    height: 295px;
    float: left;
    width: 311px;
    margin-right: 133px;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
}
.gongjiang-msg-1 li:nth-child(3){
    margin-right: 0px;
}
.gongjiang-msg-1 li:nth-child(6){
    margin-right: 0px;
    margin-top: 70px;
}
.gongjiang-msg-1 li:nth-child(4){
    margin-top: 70px;
}
.gongjiang-msg-1 li:nth-child(5){
    margin-top: 70px;
}
.gongjiang-msg-1 a{
    margin: 10px 0 8px 10px;
    display: block;
    transition: all .5s;
}
.gongjiang-msg-1 a:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    transform: translateY(-5px);
}
.gongjiang-msg-1 p{
    padding-left: 10px;
    font-size: 14px;
    color: #666666;
}

/*工匠2*/
.gongjiang-msg-2{
    height: 800px;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
}
.gongjiang-msg-2 li{
    height: 295px;
    float: left;
    width: 311px;
    margin-right: 133px;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
}
.gongjiang-msg-2 li:nth-child(3){
    margin-right: 0px;
}
.gongjiang-msg-2 li:nth-child(6){
    margin-right: 0px;
    margin-top: 70px;
}
.gongjiang-msg-2 li:nth-child(4){
    margin-top: 70px;
}
.gongjiang-msg-2 li:nth-child(5){
    margin-top: 70px;
}
.gongjiang-msg-2 a{
    margin: 10px 0 8px 10px;
    display: block;
    transition: all .5s;
}
.gongjiang-msg-2 a:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    transform: translateY(-5px);
}
.gongjiang-msg-2 p{
    padding-left: 10px;
    font-size: 14px;
    color: #666666;
}


/*需求1*/
.xiuqiu-msg-1{
    height: 800px;
    margin-top: 20px;
}
.xiuqiu-msg-1 li{
    height: 295px;
    float: left;
    width: 311px;
    margin-right: 133px;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
}
.xiuqiu-msg-1 li:nth-child(3){
    margin-right: 0px;
}
.xiuqiu-msg-1 li:nth-child(6){
    margin-right: 0px;
    margin-top: 70px;
}
.xiuqiu-msg-1 li:nth-child(4){
    margin-top: 70px;
}
.xiuqiu-msg-1 li:nth-child(5){
    margin-top: 70px;
}
.xiuqiu-msg-1 a{
    margin: 10px 0 8px 10px;
    display: block;
    transition: all .5s;
}
.xiuqiu-msg-1 a:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    transform: translateY(-5px);
}
.xiuqiu-msg-1 p{
    padding-left: 10px;
    font-size: 14px;
    color: #666666;
}

/*需求2*/
.xiuqiu-msg-2{
    height: 800px;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
}
.xiuqiu-msg-2 li{
    height: 295px;
    float: left;
    width: 311px;
    margin-right: 133px;
    border-top: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
}
.xiuqiu-msg-2 li:nth-child(3){
    margin-right: 0px;
}
.xiuqiu-msg-2 li:nth-child(6){
    margin-right: 0px;
    margin-top: 70px;
}
.xiuqiu-msg-2 li:nth-child(4){
    margin-top: 70px;
}
.xiuqiu-msg-2 li:nth-child(5){
    margin-top: 70px;
}
.xiuqiu-msg-2 a{
    margin: 10px 0 8px 10px;
    display: block;
    transition: all .5s;
}
.xiuqiu-msg-2 a:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    transform: translateY(-5px);
}
.xiuqiu-msg-2 p{
    padding-left: 10px;
    font-size: 14px;
    color: #666666;
}

/*工匠page*/
.page{
    width: 269px;
    height: 25px!important;
    margin-left: -134px;
    position: absolute;
    left: 50%;
    top: 800px;
}
.page li{
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-right: 4px;
    float: left;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}
.sgy-avtiveLi{
    background-color:#0079FE;
    color: #FFFFFF!important;
}
.page li:hover{
    border: 1px solid #0079FE;
    color: #0079FE;
}
.page li:nth-last-child(1){
    margin: 0;
    font-family: 'cc';
}
.page li:nth-child(1){
    font-family: 'cc';
    margin-right: 4px;
}
/*工匠page1*/
.page1{
    width: 269px;
    height: 25px;
    margin-left: -134px;
    position: absolute;
    left: 50%;
    top: 800px;
    display: none;
}
.page1 li{
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-right: 4px;
    float: left;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}
.page1 li:hover{
    border: 1px solid #0079FE;
    color: #0079FE;
}
.page1 li:nth-last-child(1){
    margin: 0;
    font-family: 'cc';
}
.page1 li:nth-child(1){
    font-family: 'cc';
    margin-right: 4px;
}


/*需求page2*/
.page2{
    width: 269px;
    height: 25px!important;
    margin-left: -134px;
    position: absolute;
    left: 50%;
    top: 800px;
}
.page2 li{
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-right: 4px;
    float: left;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}
.page2 li:hover{
    border: 1px solid #0079FE;
    color: #0079FE;
}
.page2 li:nth-last-child(1){
    margin: 0;
    font-family: 'cc';
}
.page2 li:nth-child(1){
    font-family: 'cc';
    margin-right: 4px;
}
/*需求page3*/
.page3{
    width: 269px;
    height: 25px;
    margin-left: -134px;
    position: absolute;
    left: 50%;
    top: 800px;
    display: none;
}
.page3 li{
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-right: 4px;
    float: left;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}
.page3 li:hover{
    border: 1px solid #0079FE;
    color: #0079FE;
}
.page3 li:nth-last-child(1){
    margin: 0;
    font-family: 'cc';
}
.page3 li:nth-child(1){
    font-family: 'cc';
    margin-right: 4px;
}

/*悬浮start*/
.xuanfu{
    width: 209px;
    height: 249px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.xuanfu-left{
    width: 145px;
    height: 141px;
    margin-top: 80px;
    background-color: #ffffff;
    display: none;
}
.xuanfu-left p{
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    margin: 0;
}
.xuanfu-left img{
    margin-left: 23px;
}
.xuanfu-right{
    width: 60px;
    height: 100%;
}
.xuanfu-right li{
    width: 60px;
    line-height: 60px;
    margin-top: 3px;
    font-family: 'cc';
    font-size: 24px;
    text-align: center;
    background-color: #D8E0E5;
}
.xuanfu-right li a{
    width: 60px;
    line-height: 60px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}
.xuanfu-right li a:hover{
    color: #0079FE;
}
.xuanfu-right li:nth-child(1){
    margin-top: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.xuanfu-right li:nth-child(2){
    margin-top: 63px;
}
/*悬浮end*/
